* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.chatbox {
    width: 350px;
    background: #F7F7F7;
}
.chatbox__chatfeed {
    height: 500px;
    /* width: 350px; */
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.chatbox__input-fields {
    height: 80px;
    display: flex;
}

.chatbox__input-fields button {
    flex: 0 0 40px;
}
.chatbox__input-fields textarea {
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    flex: 1 0 0;
}