.chatbox {
    width: 350px;
}
.chatbox__chatfeed {
    height: 500px;
    /* width: 350px; */
    border: 2px solid black;
    border-radius: 4px;
}
.chatbox__input-fields {
    height: 80px;
    display: flex;
}

.chatbox__input-fields button {
    flex: 0 0 40px;
}
.chatbox__input-fields textarea {
    flex: 1 0 0;
}